<% form_for :abuse, :url => report_abuse_path do |f| -%>
  <%= f.hidden_field :referer %>
  <%= f.hidden_field :resource_type %>
  <%= f.hidden_field :resource_id %>

  <fieldset>
    <legend>Your Report</legend>
    <div class="fields">
      <p>
        <label for="abuse_email">Email</label>
        <% if logged_in? -%>
          <%= current_user.email%>
          <%= f.hidden_field :email, :value => current_user.email %>
        <% else -%>
          <%= f.text_field :email, :class=>"fieldbox" %>
        <% end -%>
      </p>
      <p>
        <label for="abuse_subject">Subject</label>
         <%= f.text_field :title, :class=> "fieldbox wide" %>
         <span class="helpinfo">e.g. This content is a phishing attempt</span>
      </p>
      <p>
        <label for="user_password_confirmation">Description</label>
        <%= f.text_area :description, :class=>"fieldbox wide" %>
        <br />
        <span class="helpinfo">Be sure to include links to relevant content where appropriate and explain your concern with as much detail as possible.</span>
      </p>
    </div>
  </fieldset>
  <br />

  <div class="actions">
    <%= submit_tag 'Submit report', {:accesskey => "s", :class=>"button mainaction"} %>
    <p>Or, cancel this and <%= link_to "return to the page you were just looking at.", @abuse.referer %></p>
  </div>


<% end %>



