<% form_for :abuse, :url => report_abuse_path do |f| -%>
  <%= f.hidden_field :referer %>
  <%= f.hidden_field :resource_type %>
  <%= f.hidden_field :resource_id %>

  <fieldset>
    <legend><%= I18n.t('tog_core.views.abuse.new.your_report') %></legend>
    <div class="fields">
      <p>
        <label for="abuse_email"><%=I18n.t("tog_core.admin.abuses.model.email")%></label>
        <% if logged_in? -%>
          <%= current_user.email%>
          <%= f.hidden_field :email, :value => current_user.email %>
        <% else -%>
          <%= f.text_field :email, :class=>"fieldbox" %>
        <% end -%>
      </p>
      <p>
        <label for="abuse_subject"><%=I18n.t("tog_core.admin.abuses.model.subject")%></label>
         <%= f.text_field :title, :class=> "fieldbox wide" %>
         <span class="helpinfo"><%=I18n.t("tog_core.admin.abuses.model.subject_help")%></span>
      </p>
      <p>
        <label for="user_password_confirmation"><%=I18n.t("tog_core.admin.abuses.model.description")%></label>
        <%= f.text_area :description, :class=>"fieldbox wide" %>
        <br />
        <span class="helpinfo"><%=I18n.t("tog_core.admin.abuses.model.description_help")%></span>
      </p>
    </div>
  </fieldset>
  <br />

  <div class="actions">
    <%= submit_tag I18n.t('tog_core.views.abuse.new.submit_report'), {:accesskey => "s", :class=>"button mainaction"} %>
    <p><%= I18n.t('tog_core.views.abuse.new.cancel') %> <%= link_to I18n.t('tog_core.views.abuse.new.return'), @abuse.referer %></p>
  </div>


<% end %>



