<div class="portlet portletI">
  <h2><span>Comments</span></h2>
  <div class="portlet_content">
    <ul>
      <% if !commentable.comments.blank? %>
        <% for comment in commentable.comments %>
          <li class="clearfix<%= cycle(nil, " pair") %>" id="comment_<%= comment.id %>">
              <% if comment.user %>
                <div class="image"><%= link_to icon_for_profile(comment.user.profile, 'small'), profile_path(comment.user.profile) %></div>
                <div class="text"><strong><%= link_to comment.user.profile.full_name, profile_path(comment.user.profile) %> says:</strong></div>
              <% else %>
                <div class="text"><strong><%= comment_user_name(comment) %> says:</strong></div>
              <% end %>
              <%= textilize comment.comment %>
              <span class="helpinfo"><%= comment.created_at %> <%= link_to "[permalink]", "#comment_#{comment.id}" %></span>
          </li>
        <% end %>
      <% else %>
        No comments on this photo by now.
      <% end %>
    </ul>
  </div>
</div> <!-- /#potlet_featuredPosts -->

<h3><a name="reply"></a>Add your comment</h3>
<% form_for :comment, :url => comment_path do |f| -%>
  <%= f.hidden_field :commentable_type, {:value => commentable.class.name} -%>
  <%= f.hidden_field :commentable_id, {:value => commentable.id} -%>
  <% unless logged_in? -%>
      <label for="comment_name">Name</label>
      <%= f.text_field :name, :class=>"fieldbox wide" %>
      <br/>
      <label for="comment_email">Email</label>
      <%= f.text_field :email, :class=>"fieldbox wide" %>
      <br/>
      <label for="comment_url">Website</label>
      <%= f.text_field :url, :class=>"fieldbox wide" %>
      <label for="comment_comment">Comment</label>
  <% end -%>

  <%= f.text_area :comment, {:rows=>6, :cols=>50, :class=>"editor wide fieldbox"} -%>
  <br/>
  <%= submit_tag 'Post comment', {:accesskey => "s", :class=>"button mainaction"} %>
<% end %>