<div id="footerlogged" class="clearfix">
  <div class="copyright">
    <strong><%=config['plugins.tog_core.site.name']%> © <%=Time.now.year%></strong>
    <br />
   <%= I18n.t("tog_core.views.shared.logged_footer.powered_by")%> <%= Tog::Version.full_version %>
  </div>
  <div class="links">
    <ul class="clearfix">
      <li><%= I18n.t("tog_core.views.shared.logged_footer.groups")%>
        <ul>
          <li><%= link_to I18n.t("tog_core.views.shared.logged_footer.my_groups"), member_groups_path -%></li>
          <li><%= link_to I18n.t("tog_core.views.shared.logged_footer.create_new_group"), new_member_group_path -%></li>
        </ul>
      </li>
      <li><%= I18n.t("tog_core.views.shared.logged_footer.messages")%>
        <ul>
          <li><%= link_to I18n.t("tog_core.views.shared.logged_footer.my_messages"), member_messages_path -%></li>
          <li><%= link_to I18n.t("tog_core.views.shared.logged_footer.write_a_message"), new_member_message_path -%></li>
        </ul>
      </li>
      <li><%= I18n.t("tog_core.views.shared.logged_footer.profile")%>
        <ul>
          <li><%= link_to I18n.t("tog_core.views.shared.logged_footer.my_account"), member_my_account_path -%></li>
          <li><%= link_to I18n.t("tog_core.views.shared.logged_footer.edit_profile"), edit_member_profile_path(current_user.profile) -%></li>
        </ul>
      </li> 
      <li><%= I18n.t("tog_core.views.shared.logged_footer.locale")%>
        <ul> 
          <% supported_languages do |l| %>
             <li><%= link_to l[:name], set_locale_path(:locale => l[:iso_639_1]) %></li>
          <% end %>
        </ul>
      </li>
    </ul>
  </div>
</div>  <!-- /#footerlogged -->
