<% form_for :abuse, :url => admin_abuses_confirm_path do |f| -%>

  <h2><%= @abuse.title %></h2>
  <fieldset>
    <p><%=I18n.t("tog_core.admin.abuses.model.email")%> <br/>
      <%= @abuse.email %>
    </p>

    <p><%=I18n.t("tog_core.admin.abuses.model.url")%> <br/>
      <%= link_to @abuse.referer, @abuse.referer %>
    </p>

    <p><%=I18n.t("tog_core.admin.abuses.model.created_at")%> <br/>
      <%= @abuse.created_at %>
    </p>

    <p><%=I18n.t("tog_core.admin.abuses.model.resource")%> <br/>
      <%= @abuse.resource_id %>:<%= @abuse.resource_type %>
    </p>

    <p><%=I18n.t("tog_core.admin.abuses.model.description")%> <br/>
      <%= @abuse.description %>
    </p>

    <%= submit_tag I18n.t("tog_core.admin.abuses.confirm") %>
  </fieldset>
  

<% end %>